/* Google Fonts (Mulish) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap');

/* Sitewide Features */

html, body {
    font-family: "Mulish", sans-serif;
    max-width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-weight: 800;
}

a, p {
    font-weight: 600;
}

.btn {
    font-weight: 700;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    background-color: #3F0A3D;
    color: #fff!important;
}

/* Navigation */
.navbar-collapse {
    flex-grow: 0;
}

.nav-item {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

#nav-create-account {
    background-color: #02676B;
    border: 1px solid #02676B;
    color: #fff;
}

#nav-sign-in {
    border: 1px solid #02676B;
    color: #02676B;
    margin-bottom: 20px;
}

.btn-close {
  margin-right: 10px;
  padding: 10px;
  font-size: 20px;
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.active {
    text-decoration: underline;
}

/* Section 1 */

#section1 {
    text-align: center;
}

#section1 h1 {
    font-size: 40px;
    padding-top: 50px;
}

#shop-products-button {
    background-color: #02676B;
    color: #fff;
}

/* Section 2 */

#section2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.circle {
    height: 250px;
    width: 250px;
    background-color: #02676B;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
    position: relative;
}

.circle h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circle-hover-text {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circle-icon {
    opacity: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Section 3 */

#section3 {
    padding-top: 50px;
    background-color: #dddddd;
    padding-bottom: 50px;
    text-align: center;
}

#section3 h2 {
    font-size: 30px;
}

#section3 .btn {
    background-color: #3F0A3D;
    color: #fff;
    padding: 10px;
    margin: 15px;
}

/* Blogs: Section 4 */

#blog-section {
    padding: 50px 50px;
    background-color: #3F0A3D;
}

#blog-section h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

#blog-section h2 + p {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    font-weight: 300;
}

.card:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.card-title {
    font-size: 25px;
    font-weight: 700;
}

.card img {
    max-height: 70%;
    width: 100%;
}

.card-footer {
    background-color: #fff;
}

/* Section 5: Email Signup */

#email-signup {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#email-signup i {
    font-size: 45px;
    padding-bottom: 15px;
}

#email-signup h2 {
    font-size: 30px;
}

#email-signup .btn {
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
   
}

/* Footer */

footer i {
    font-size: 20px;
}

#copyright {
    background-color: #3F0A3D;
    font-size: 10px;
    color: #fff;
    height: 20px;
}

#copyright p {
    font-weight: 300;
}

/* Media Queries */

/* Small */
@media (min-width: 576px){
    #section1 h1 {
        font-size: 55px;
        padding-top: 70px;
    }
    #section1 p {
        font-size: 20px;
    }
    .circle {
        width: 350px;
        height: 350px;
    }
    .circle h3 {
        font-size: 70px;
    }
    footer i {
        font-size: 30px;
    }
    
    footer ul {
        padding-right: 20px;
    }
}

/* Medium */
@media (min-width: 768px) {
    #nav-sign-in {
        border: none;
        color: inherit;
        padding-left: 25px;
    }
    #nav-contact {
        border-right: 1px solid #DDDDDD;
        padding-right: 25px;  
    }
    #section1 h1 {
        font-size: 70px;
    }
    #section1 p {
        font-size: 25px;
    }
    #shop-products-button {
        font-size: 25px;
    }
    .circle {
        width: 400px;
        height: 400px;
    }
    .circle-hover-text {
        font-size: 20px;
    }
    #blog-section {
        padding: 50px 100px;
    }
}

/* Large */
@media screen and (min-width: 992px){
    .circle {
        width: 300px;
        height: 300px;
    }
    .circle-hover-text {
        font-size: 15px;
    }
}

/* X-large */
@media (min-width: 1200px) {
    .circle {
        width: 400px;
        height: 400px;
    }
    .circle-hover-text {
        font-size: 20px;
    }
    #blog-section {
        padding: 50px 200px;
    }
}