/* Google Fonts (Mulish) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap');

/* Sitewide Features */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
}

a, p {
    font-weight: 600;
}

.btn {
    font-weight: 700;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    background-color: #3F0A3D;
    color: #fff!important;
}

/* Navigation */
.navbar-collapse {
    flex-grow: 0;
}

.nav-item {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

#nav-create-account {
    background-color: #02676B;
    border: 1px solid #02676B;
    color: #fff;
}

#nav-sign-in {
    border: 1px solid #02676B;
    color: #02676B;
    margin-bottom: 20px;
}

/* Overview */


/* Media Queries */
@media (min-width: 768px) {
    #nav-sign-in {
        border: none;
        color: inherit;
        padding-left: 25px;
    }

    #nav-contact {
        border-right: 1px solid #DDDDDD;
        padding-right: 25px;  
    }
}